# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
/android/
/ios/
android/app/src/main/res/mipmap-*
ios/**/build/
# Expo / Build
.expo/
dist/
web-build/
expo-env.d.ts

# Native / Certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Local environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Generated / Build artifacts
app-example
/app/generated/prisma

# IDE / Misc
.vscode/
.idea/